.home {
    top: 64px;
    position: relative;
}

.card {
    max-width: 280px;
    margin: auto;
    cursor: pointer;
}

.collectionCard {
    max-width: 280px;
    margin: auto;
    cursor: pointer;
    height: 320px;
}

#avatar {
    position: static;
}

#content {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 10px;
}

.items {
    background-color: #bdbdbd;
}

.background {
    padding-top: 1px;
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}


ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.75rem;
    width: 40%;
}

ul.cloud .tag {
    /*   
    Not supported by any browser at the moment :(
    --size: attr(data-weight number); 
    */
    --size: 4;
    --color: #a33;
    color: var(--color);
    font-size: calc(var(--size) * 0.25rem + 0.5rem);
    display: block;
    padding: 0.125rem 0.25rem;
    position: relative;
    text-decoration: none;
    /* 
    For different tones of a single color
    opacity: calc((15 - (9 - var(--size))) / 15); 
    */
}

ul.cloud .tag[data-weight="1"] {
    --size: 1;
}

ul.cloud .tag[data-weight="2"] {
    --size: 2;
}

ul.cloud .tag[data-weight="3"] {
    --size: 3;
}

ul.cloud .tag[data-weight="4"] {
    --size: 4;
}

ul.cloud .tag[data-weight="5"] {
    --size: 6;
}

ul.cloud .tag[data-weight="6"] {
    --size: 8;
}

ul.cloud .tag[data-weight="7"] {
    --size: 10;
}

ul.cloud .tag[data-weight="8"] {
    --size: 13;
}

ul.cloud .tag[data-weight="9"] {
    --size: 16;
}

ul[data-show-value] .tag::after {
    content: " (" attr(data-weight) ")";
    font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) .tag {
    --color: #181;
}

ul.cloud li:nth-child(3n+1) .tag {
    --color: #33a;
}

ul.cloud li:nth-child(4n+1) .tag {
    --color: #c38;
}

ul.cloud .tag:focus {
    outline: 1px dashed;
}

ul.cloud .tag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: var(--color);
    transform: translate(-50%, 0);
    opacity: 0.15;
    transition: width 0.25s;
}

ul.cloud .tag:focus::before,
ul.cloud .tag:hover::before {
    width: 100%;
}

@media (prefers-reduced-motion) {
    ul.cloud * {
        transition: none !important;
    }
}

.searchItems {
    z-index: 1;
    top: 64px;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    color: black;
}