body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.comment {
  width: 99.5%;
  height: 100px;
  min-width: 99.5%;
  min-height: 40px;
  max-width: 99.5%;
  max-height: 200px;
}

.error {
  margin-top: 3px;
  margin-right: 14px;
  margin-bottom: 0;
  margin-left: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #d32f2f;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
}

.hrColor {
  color: white;
}

.optionCheckbox {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.optionSelect {
  width: 40%;
}

.collectionImg {
  width: 12em;
  height: 15em;
}

.item {
  width: 80%;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px 14px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  resize: none;
}

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #adc2b6;
  --font-fam: 'Lato', sans-serif;
  --height: 5rem;
  --btn-width: 3rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.ais-SearchBox {
  width: 15em;
  margin: 1em 0;
}

.ais-SearchBox-reset {
  display: none;
}

.ais-SearchBox-form {
  height: 2em;
  display: flex;
  width: 100%;
}

.ais-SearchBox-input,
.ais-SearchBox-submit {
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
}

input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.ais-SearchBox-input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));

  +.ais-SearchBox-submit {
    display: block;
  }
}

.ais-SearchBox-submit {
  display: none; // prevent being able to tab to it
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}

.ais-Pagination {
  margin-top: 1em
}

.left-panel {
  float: left;
  width: 250px;
}

.right-panel {
  margin-left: 260px;
}

.ais-Hits--empty {
  display: none;
}

article h1 {
  margin-bottom: 0;
}